.reveal h1 {
  font-size: 1.5em;
}

.reveal h2 {
  font-size: 1em;
}

.reveal h3 {
  font-size: 1em;
}

.reveal section img {
  border: 0;
  box-shadow: none;
  margin-top: -70px;
}

.reveal section:nth-child(1) h3{
  text-transform: none;
}